*{
    margin: 0;
    padding: 0;
}

/* First section start here */
.firstsection{
    background-color: skyblue;
    padding: 30px;
    display: flex;
    height: 100%;
}

.firstsection-Leftdiv{
    width: 50%;
    height: 100%;
    padding-top: 200px;
}

.firstsection-rightdiv{
    /* border: 2px solid tomato; */
    width: 50%;
    height: 100%;
}